/*MINI GAME*/
.MG-container {
  padding:5px 30px 30px 30px;
  margin:30px;
  border:solid white 1px;
  border-radius:5px;
  background-color:white;
  text-align:center;
  color: black;
  border-color:orange;
  font-family: Arial;
  width: 75%;
}



.btn-primary:hover {  /*passar por cima fica laranja / se tirar fica azul*/
    color: #fff;
    background-color: orange;
    border-color: orange;
}



.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: #b22f27; /*vermelho da navbar*/
    border-color: #b22f27; /*vermelho da navbar*/
}

.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: orange;    /*vermelho da navbar*/
    border-color: orange;  /*vermelho da navbar*/
}

.btn-block { /*botão ao ser visto sem clicar*/
    display: block;
    width: 100%;
    background-color: orange;
	border-color:orange;
}


/*Tabela*/
hr {  /*linha laranha por cima dos clicks*/
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid orange;
}

